

/*-- General */
body { 
    margin: 0px; 
    border: 0px; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #fff; 
}
/*-- Header --*/
header { 
    background-color: #fff; 
    display: table; 
    width: 100%; 
}

header h1 { 
    text-align: center; 
    color: #000; 
}

/*--  Content --*/
section.content { 
    display: table; 
    width: 100%; 
}
/*-- Page Inner Content --*/
.control { 
    padding: 20px; 
}
.control textarea { 
    width: 100%; 
    display: block; 
    height: 70px; 
    resize: none; 
    box-shadow: 2px 2px 5px #666; 
}

.error_msg { 
    color: #ff0000; 
    margin: 10px 0;
}

.control button { 
    background-color: #666; 
    border: 0px; 
    color: #fff; 
    width: 10%; 
    height: 25px; 
    font-size: 14px; 
    float: right; 
    margin-top: 7px; 
}
.control button:focus {
    outline:0
}

.results { 
    margin-top: 20px; 
    padding: 20px; 
    color: white; 
}
.result_table table{ 
    width: 100%; 
    border: 1px solid #999; 
    border-collapse: collapse; 
    width: 100%; 
}

.result_table th { 
    background-color: #666; 
    text-align: center; 
    padding: 3px;
    border: 1px solid #999;
}

.result_table  td { 
    border: 1px solid #999;
    text-transform: capitalize;
    color: #000;
    padding: 3px;
}

.punc_results { 
    padding: 10px; 
    margin-top: 20px; 
    display: none; 
    color: #000;
}
/*-- Footer --*/
footer { 
    background-color: #666; 
    color: white; 
    padding: 20px; 
    height: 100%; 
}


/*-- Tablet --*/
@media only screen and (max-width : 1024px) {
    header h1 { 
        font-size: 22px; 
    }
    .control button { 
        width: 30%; 
        height: 35px;
    }
    footer { 
        text-align: center; 
    }
}
